.Overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 1em 0.5em;
  max-width: var(--maxAppWidth);

  color: var(--mainDark);
}
