.Stripe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.Stripe h1 {
  padding: 1em;
  padding-left: 0.75em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}

.Stripe .container {
  flex-direction: row;
  text-align: start;
  justify-content: left;
  align-items: left;
}
